@page "/garage-sale/items/{id:int}/edit"
@inherits GarageSaleComponentBase<ItemDto>

<h3>EditItem @Service.Message</h3>

@if (Service.IsFetchingData)
{
	<p>Loading...</p>
}
else if (Dto is null)
{
	<p>Requested item not found!.</p>
}
else
{
	<EditForm Model="@Dto" OnValidSubmit="@HandleValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div>
			<label for="name">Name</label>
			<InputText id="name" @bind-Value="@Dto.Name" />
		</div>
		<div>
			<label for="description">Description</label>
			<InputText id="description" @bind-Value="@Dto.Description" />
		</div>
		<div>
			<label for="isForSale">For Sale</label>
			<InputCheckbox id="isForSale" @bind-Value="@Dto.IsForSale" />
		</div>

		<button type="submit">Submit</button>
	</EditForm>
}

