@page "/garage-sale/items/{id:int}/edit"
@inherits GarageSaleComponentBase<ItemDto>

<h3>EditItem @Service.Message</h3>

@if (Service.IsFetchingData)
{
	<p>Loading...</p>
}
else if (Dto is null)
{
	<p>Requested item not found!.</p>
}
else
{
	<EditForm Model="@Dto" OnValidSubmit="@HandleValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<table>
			<tr>
				<td><label for="name">Name</label></td>
				<td><InputText id="name" @bind-Value="@Dto.Name" /></td>
			</tr>
			<tr>
				<td><label for="description">Description</label></td>
				<td><InputTextArea id="description" @bind-Value="@Dto.Description" /></td>
			</tr>
			<tr>
				<td><label for="isForSale">For Sale</label></td>
				<td><InputCheckbox id="isForSale" @bind-Value="@Dto.IsForSale" /></td>
			</tr>
		</table>

		<button type="submit">Submit</button>
	</EditForm>
}

